.icon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

h2 {
  margin-bottom: 20px;
}

form {
  width: 80%;
}

.buttonsForm {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
