.link {
  text-decoration: none;
  color: var(--color-primary);
  & .card {
    padding: 20px;
    width: 50rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    & .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      font-size: 1.5rem;
      text-transform: capitalize;
      & .date {
        padding: 10px;
        width: 56px;
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        & span {
          padding: 5px;
          text-align: center;
          font-weight: 600;
          background-color: var(--color-grey);
          border-radius: 8px;
        }
      }
      & .titleBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        & h3 {
          margin: 0;
          font-size: 1.3rem;
          font-weight: 600;
        }
        & span {
          font-size: 0.9rem;
          font-weight: 400;
        }
      }
    }
    & p {
      font-weight: 400;
      margin-bottom: 0.5rem;
      text-align: left;
      text-wrap: balance;
      overflow: hidden;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
    }
    & .status {
      display: flex;
      justify-content: flex-end;

      & span {
        padding: 5px 10px;
        text-align: center;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        cursor: pointer;
      }
    }
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.btnPending {
  background-color: var(--color-btn-pending);
  color: var(--color-btn-text);
  text-transform: capitalize;
}

.btnCompleted {
  background-color: var(--color-btn-completed);
  color: var(--color-grey);
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .link {
    & .card {
      width: 40rem;
    }
  }
}

@media screen and (max-width: 470px) {
  .link {
    & .card {
      width: 20rem;
      margin: 10px 0;
      & .title {
        gap: 10px;
        & .titleBlock {
          & h3 {
            font-size: 1.2rem;
          }
          & span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
